{% extends 'patient/patientbase.html' %}
{% block content %}
{% load widget_tweaks %}
{%load static%}
<head>
        <!-- Font special for pages-->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">

        <!-- Main CSS-->
    
        <link href="{% static "css/main.css" %}"rel="stylesheet" media="all">
</head>

    <div class='container'>

        
        <h2 class='text-center mt-4'>Send Feedback</h2>
        {% if messages %} 
        {% for message in messages %}
                <div class='alert alert-success'>{{ message }}</div>
        {% endfor %}
        {% endif %}
    <form method="post">
        {% csrf_token %}
        <div class='form-group'>
            <label>Email:</label>
            {{ form.email }}
        </div>
        <div class="form-group">
            <label>Message:</label>
            {{form.message}}
        </div>
        <button type="submit" class="btn btn-info">Send</button>
    </form>
    </div>


{% endblock content %}