# Ignore virtual environment
env/

git rm --cached -r env/
# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore database files
db.sqlite3

# Ignore IDE and editor files
.vscode/
.idea/
*.sublime-workspace

